<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976545594978-oasuhjp8th16td7op8jc9immp14l22vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976545594978-oasuhjp8th16td7op8jc9immp14l22vq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976545594978-u2i013k8bhd2dpbpf3006ni143nurjmi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSZzcULBYPbJeQvnzqRBWD97wm9MVWkJc</string>
	<key>GCM_SENDER_ID</key>
	<string>976545594978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leadistro</string>
	<key>PROJECT_ID</key>
	<string>leadistro-12rh78</string>
	<key>STORAGE_BUCKET</key>
	<string>leadistro-12rh78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976545594978:ios:84e7594f1913ebf0b0db3b</string>
	<key>DATABASE_URL</key>
	<string>https://leadistro-12rh78-default-rtdb.firebaseio.com</string>
</dict>
</plist>